PyCity Schools Analysis

In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# Files to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [4]:
# Calculate the total number of unique schools
school_count = len(school_data_complete['school_name'].value_counts())
print(f'Total number of unique schools: {school_count}')

Total number of unique schools: 15

In [5]:
# Calculate the total number of students
student_count = len(school_data_complete['student_name'])
print(f'Total number of students: {student_count}')

Total number of students: 39170

In [6]:
# Calculate the total budget
budget = school_data_complete['budget'].unique()
total_budget = budget.sum()
print(f'Total budget: {total_budget}')

Total budget: 24649428

In [7]:
# Calculate the average math score
average_math_score = school_data_complete['math_score'].sum()/student_count
print(f'Average math score: {average_math_score}')

Average math score: 78.98537145774827

In [8]:
# Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].sum()/student_count
print(f'Average reading score: {average_reading_score}')

Average reading score: 81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f'Percentage of students who passed math: {passing_math_percentage}')

Percentage of students who passed math: 74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(f'Percentage of students who passed reading: {passing_reading_percentage}')

Percentage of students who passed reading: 85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f'Percentage of students who passed both math and reading: {overall_passing_rate}')

Percentage of students who passed both math and reading: 65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({'Total Schools': [school_count], 
                                'Total Students': [student_count], 
                                'Total Budget': [total_budget],
                                'Average Math Score': [average_math_score], 
                                'Average Reading Score': [average_reading_score], 
                                '% Passing Math': [passing_math_percentage], 
                                '% Passing Reading': [passing_reading_percentage], 
                                '% Overall Passing': [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

School Summary

In [13]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [14]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete['school_name'].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [15]:
# Calculate the total school budget and per capita spending per school from school_data
grouped_school = school_data_complete.groupby(['school_name'])
per_school_budget = grouped_school['budget'].first()
print(per_school_budget)

print('.........................................')

per_school_capita = per_school_budget/per_school_counts
print(per_school_capita)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64
.........................................
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [16]:
# Calculate the average test scores per school from school_data_complete
per_school_math = grouped_school['math_score'].mean()
print(per_school_math)

print('............................................')
per_school_reading = grouped_school['reading_score'].mean()
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
............................................
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [23]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
math_passing_group = students_passing_math.groupby(['school_name'])
school_students_passing_math = math_passing_group['math_score'].count() / student_count * 100
print(school_students_passing_math)

school_name
Bailey High School       8.470768
Cabrera High School      4.465152
Figueroa High School     4.968088
Ford High School         4.776615
Griffin High School      3.500128
Hernandez High School    7.898902
Holden High School       1.008425
Huang High School        4.891499
Johnson High School      8.029104
Pena High School         2.323207
Rodriguez High School    6.775594
Shelton High School      4.220066
Thomas High School       3.893286
Wilson High School       5.471024
Wright High School       4.288997
Name: math_score, dtype: float64

In [24]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
reading_passing_group = students_passing_reading.groupby(['school_name'])
school_students_passing_reading = reading_passing_group['reading_score'].count() / student_count * 100
print(school_students_passing_reading)

school_name
Bailey High School       10.408476
Cabrera High School       4.603013
Figueroa High School      6.078632
Ford High School          5.545060
Griffin High School       3.640541
Hernandez High School     9.568547
Holden High School        1.049272
Huang High School         6.055655
Johnson High School       9.872351
Pena High School          2.356395
Rodriguez High School     8.189941
Shelton High School       4.309420
Thomas High School        4.061782
Wilson High School        5.626755
Wright High School        4.439622
Name: reading_score, dtype: float64